# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk
*.EXE
*.OVL
*.TDH
*.BAT
# Object and Config Files
*.OBJ
*.TD
*.TR
*.MAP
*.CONF
# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
.vscode/
.ASM015E_Run.bat
.ASM015E_Debug.Bat
.ASM105E.conf
